@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
        background-image: url('https://wallpapercave.com/wp/wp2608224.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .welcome-text{
        margin-top: 40%;
        color: white; 
        text-shadow: 2px 2px 5px red;
        font-family: 'Brush Script MT', cursive;
        font-size: 100px;
    }
</style>

<div class="text-center welcome-text">
    <h1 class="display-4"><b>Welcome</b></h1>
    <h3><b>Web Crawler SWD Limited Version</b></h3>
</div>
